
.dndnode{
    
    height: 2.5rem;
    border: 1px solid #333;
    border-radius: 0.312rem;
    padding: 0.312rem;
    margin-bottom: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    background: #a8a8a8ff;
}
.dndnode:hover{
    background-color: aqua;

    width: 6rem;
}

