#root {
  margin: 0 auto;
  text-align: center;
}

.reactflow-wrapper{
  background-image: url('./images/wood2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #262626;
  width: 100%;
   height: 100%; 
}
.main-div{
  display: flex;
  width: 100vw;
  height: 100vh;
}
.sideBar-button{
  height: 3.125rem;
  background: #1a1a1a00;
  border:none;
  position: absolute;
  z-index:10000;
  cursor:pointer;
}
.clearAll-button{
  height: 2.5rem;
  width: 6.25rem;
  background: #000000;
  border: 1px solid #444;
  color: #fff;
  position: absolute;
  z-index: 10000;
  right: 1px;
  cursor: pointer;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  }
  .clearAll-button:hover{
    background-color: #ff2f2f;
    height: 2.8rem;
    width: 6.8rem;
  }